
body{
    margin: 0px;
    padding: 0px;
    min-width: auto !important;
    min-height: auto !important;

    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
        width: 0px !important;
    }

    .ui>*::-webkit-scrollbar {
        width: 6px !important;
    }

    .ui>*::-webkit-scrollbar-track {
        background-color: #fff;
    }

}

#root{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: 16px !important;
        width: 0px !important;
    }
    &::-webkit-scrollbar-track {
        background-color: #6ED6E4;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #eee;
        box-shadow: 0px 0px 0px 6px #6ED6E4 inset;

        &:hover{
            background: #fff;
        }
    }




    
    &.dark{

        --navbar-bgcolor: #000;
        --dashboard-bgcolor: #222;


        &::-webkit-scrollbar-track {
            background-color: #333;
        }

    
        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            background: var(--dashboad-bgcolor);
            box-shadow: 0px 0px 0px 6px var(--dashboad-bgcolor) inset;
    
            &:hover{
                background-color: var(--dashboad-bgcolor);
            }
        }
    
            
        .xBody{

            >.xNavbar{
                background-color: var(--navbar-bgcolor);

                >span{
                    filter: invert(0.8964);

                    .MenuButton{
                        filter: invert(0.1);
                    }

                    &.prices{
                        filter: invert(0.5);
                    }
                }
                >div{
                    /* dark mode buttun */
                    filter: invert(0.18);
                }
            }

            >.xSidebar{
                >.sidebarWrapper{
                    background-color: #222;
                }
            }

            >.xDashboard{
                background-color: var(--dashboard-bgcolor);

                >div{
                    filter: invert(0.8964);
                }

                    .AccountDetailsWrapperB{
                        filter: invert(0);
                    }

                    .transfer-confirm{
                        filter: invert(1);
                    }

                    .tx-tracker{
                        .tx-info{
                            filter: invert(1);
                        }
                    }

            }

            >#lock-progress-bar{
                filter: invert(0.8964);
            }
        }
    }
}


